.query {
    margin-top: 20px;
}

.query .query-dropdown {
    font-size: 16px;
    height: 48px;
    line-height: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 30px;
}

.entries {
    margin-top: 20px;
}

.entry {
    margin-top: 20px;
}

p.title a {
    color: #222324;
}

.entries p.translation {
    margin-bottom: 5px;
}
